/* Monet: mint */

[data-monet="mint--tonalSpot"] {
  --blog-color-primary: #1f6a4e;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #a8f2ce;
  --blog-color-on-primary-container: #005138;
  --blog-color-secondary: #4d6357;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #cfe9d9;
  --blog-color-on-secondary-container: #354b40;
  --blog-color-tertiary: #3d6373;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #c1e8fb;
  --blog-color-on-tertiary-container: #244c5b;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #f5fbf5;
  --blog-color-on-background: #171d1a;
  --blog-color-surface: #f5fbf5;
  --blog-color-on-surface: #171d1a;
  --blog-color-surface-dim: #d6dbd6;
  --blog-color-surface-bright: #f5fbf5;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #eff5ef;
  --blog-color-surface-container: #eaefea;
  --blog-color-surface-container-high: #e4eae4;
  --blog-color-surface-container-highest: #dee4de;
  --blog-color-outline: #707973;
  --blog-color-outline-variant: #bfc9c2;
  --blog-color-on-surface-variant: #404943;
}
[data-theme="dark"][data-monet="mint--tonalSpot"] {
  --blog-color-primary: #8dd5b3;
  --blog-color-on-primary: #003826;
  --blog-color-primary-container: #005138;
  --blog-color-on-primary-container: #a8f2ce;
  --blog-color-secondary: #b3ccbe;
  --blog-color-on-secondary: #1f352a;
  --blog-color-secondary-container: #354b40;
  --blog-color-on-secondary-container: #cfe9d9;
  --blog-color-tertiary: #a5ccdf;
  --blog-color-on-tertiary: #073543;
  --blog-color-tertiary-container: #244c5b;
  --blog-color-on-tertiary-container: #c1e8fb;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #0f1512;
  --blog-color-on-background: #dee4de;
  --blog-color-surface: #0f1512;
  --blog-color-on-surface: #dee4de;
  --blog-color-surface-dim: #0f1512;
  --blog-color-surface-bright: #353b37;
  --blog-color-surface-container-lowest: #0a0f0c;
  --blog-color-surface-container-low: #171d1a;
  --blog-color-surface-container: #1b211e;
  --blog-color-surface-container-high: #252b28;
  --blog-color-surface-container-highest: #303632;
  --blog-color-outline: #8a938c;
  --blog-color-outline-variant: #404943;
  --blog-color-on-surface-variant: #bfc9c2;
}

[data-monet="mint--expressive"] {
  --blog-color-primary: #904c23;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #ffdbca;
  --blog-color-on-primary-container: #73350d;
  --blog-color-secondary: #39656d;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #bdeaf4;
  --blog-color-on-secondary-container: #204d55;
  --blog-color-tertiary: #1d6961;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #a9f0e5;
  --blog-color-on-tertiary-container: #005049;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #f1fcf7;
  --blog-color-on-background: #141d1b;
  --blog-color-surface: #f1fcf7;
  --blog-color-on-surface: #141d1b;
  --blog-color-surface-dim: #d2dcd8;
  --blog-color-surface-bright: #f1fcf7;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #ecf6f2;
  --blog-color-surface-container: #e6f0ec;
  --blog-color-surface-container-high: #e0eae6;
  --blog-color-surface-container-highest: #dae5e1;
  --blog-color-outline: #697b76;
  --blog-color-outline-variant: #b8cac5;
  --blog-color-on-surface-variant: #394a46;
}
[data-theme="dark"][data-monet="mint--expressive"] {
  --blog-color-primary: #ffb690;
  --blog-color-on-primary: #542100;
  --blog-color-primary-container: #73350d;
  --blog-color-on-primary-container: #ffdbca;
  --blog-color-secondary: #a1ced7;
  --blog-color-on-secondary: #00363e;
  --blog-color-secondary-container: #204d55;
  --blog-color-on-secondary-container: #bdeaf4;
  --blog-color-tertiary: #8dd3c9;
  --blog-color-on-tertiary: #003732;
  --blog-color-tertiary-container: #005049;
  --blog-color-on-tertiary-container: #a9f0e5;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #0c1513;
  --blog-color-on-background: #dae5e1;
  --blog-color-surface: #0c1513;
  --blog-color-on-surface: #dae5e1;
  --blog-color-surface-dim: #0c1513;
  --blog-color-surface-bright: #323b38;
  --blog-color-surface-container-lowest: #07100e;
  --blog-color-surface-container-low: #141d1b;
  --blog-color-surface-container: #18211f;
  --blog-color-surface-container-high: #222c29;
  --blog-color-surface-container-highest: #2d3734;
  --blog-color-outline: #83948f;
  --blog-color-outline-variant: #394a46;
  --blog-color-on-surface-variant: #b8cac5;
}

[data-monet="mint--vibrant"] {
  --blog-color-primary: #006c4c;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #41ffbd;
  --blog-color-on-primary-container: #005138;
  --blog-color-secondary: #3a665d;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #bdece0;
  --blog-color-on-secondary-container: #214e46;
  --blog-color-tertiary: #196969;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #a8efee;
  --blog-color-on-tertiary-container: #004f50;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #effdf3;
  --blog-color-on-background: #131e18;
  --blog-color-surface: #effdf3;
  --blog-color-on-surface: #131e18;
  --blog-color-surface-dim: #d0ddd4;
  --blog-color-surface-bright: #effdf3;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #eaf7ed;
  --blog-color-surface-container: #e4f1e8;
  --blog-color-surface-container-high: #deebe2;
  --blog-color-surface-container-highest: #d9e6dc;
  --blog-color-outline: #6b7b71;
  --blog-color-outline-variant: #bacbc0;
  --blog-color-on-surface-variant: #3b4a42;
}
[data-theme="dark"][data-monet="mint--vibrant"] {
  --blog-color-primary: #00e1a3;
  --blog-color-on-primary: #003826;
  --blog-color-primary-container: #005138;
  --blog-color-on-primary-container: #41ffbd;
  --blog-color-secondary: #a1d0c4;
  --blog-color-on-secondary: #04372f;
  --blog-color-secondary-container: #214e46;
  --blog-color-on-secondary-container: #bdece0;
  --blog-color-tertiary: #8cd3d2;
  --blog-color-on-tertiary: #003737;
  --blog-color-tertiary-container: #004f50;
  --blog-color-on-tertiary-container: #a8efee;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #0a1610;
  --blog-color-on-background: #d9e6dc;
  --blog-color-surface: #0a1610;
  --blog-color-on-surface: #d9e6dc;
  --blog-color-surface-dim: #0a1610;
  --blog-color-surface-bright: #303c35;
  --blog-color-surface-container-lowest: #06100b;
  --blog-color-surface-container-low: #131e18;
  --blog-color-surface-container: #17221c;
  --blog-color-surface-container-high: #212c26;
  --blog-color-surface-container-highest: #2c3731;
  --blog-color-outline: #84958b;
  --blog-color-outline-variant: #3b4a42;
  --blog-color-on-surface-variant: #bacbc0;
}

[data-monet="mint--content"] {
  --blog-color-primary: #005138;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #006c4c;
  --blog-color-on-primary-container: #93eac2;
  --blog-color-secondary: #466556;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #c8ebd7;
  --blog-color-on-secondary-container: #4c6b5b;
  --blog-color-tertiary: #433e80;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #5b569a;
  --blog-color-on-tertiary-container: #d8d4ff;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #f6faf5;
  --blog-color-on-background: #181d1a;
  --blog-color-surface: #f6faf5;
  --blog-color-on-surface: #181d1a;
  --blog-color-surface-dim: #d7dbd6;
  --blog-color-surface-bright: #f6faf5;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #f1f5f0;
  --blog-color-surface-container: #ebefea;
  --blog-color-surface-container-high: #e5e9e4;
  --blog-color-surface-container-highest: #dfe4df;
  --blog-color-outline: #6f7a73;
  --blog-color-outline-variant: #bec9c1;
  --blog-color-on-surface-variant: #3f4943;
}
[data-theme="dark"][data-monet="mint--content"] {
  --blog-color-primary: #81d7b0;
  --blog-color-on-primary: #003826;
  --blog-color-primary-container: #006c4c;
  --blog-color-on-primary-container: #93eac2;
  --blog-color-secondary: #accebb;
  --blog-color-on-secondary: #173629;
  --blog-color-secondary-container: #2e4d3f;
  --blog-color-on-secondary-container: #9bbdaa;
  --blog-color-tertiary: #c5c0ff;
  --blog-color-on-tertiary: #2d2769;
  --blog-color-tertiary-container: #5b569a;
  --blog-color-on-tertiary-container: #d8d4ff;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #101412;
  --blog-color-on-background: #dfe4df;
  --blog-color-surface: #101412;
  --blog-color-on-surface: #dfe4df;
  --blog-color-surface-dim: #101412;
  --blog-color-surface-bright: #363a37;
  --blog-color-surface-container-lowest: #0b0f0d;
  --blog-color-surface-container-low: #181d1a;
  --blog-color-surface-container: #1c211e;
  --blog-color-surface-container-high: #262b28;
  --blog-color-surface-container-highest: #313633;
  --blog-color-outline: #88938c;
  --blog-color-outline-variant: #3f4943;
  --blog-color-on-surface-variant: #bec9c1;
}

[data-monet="mint--monochrome"] {
  --blog-color-primary: #000000;
  --blog-color-on-primary: #e2e2e2;
  --blog-color-primary-container: #3b3b3b;
  --blog-color-on-primary-container: #ffffff;
  --blog-color-secondary: #5e5e5e;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #d4d4d4;
  --blog-color-on-secondary-container: #1b1b1b;
  --blog-color-tertiary: #3b3b3b;
  --blog-color-on-tertiary: #e2e2e2;
  --blog-color-tertiary-container: #747474;
  --blog-color-on-tertiary-container: #ffffff;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #410002;
  --blog-color-background: #f9f9f9;
  --blog-color-on-background: #1b1b1b;
  --blog-color-surface: #f9f9f9;
  --blog-color-on-surface: #1b1b1b;
  --blog-color-surface-dim: #dadada;
  --blog-color-surface-bright: #f9f9f9;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #f3f3f3;
  --blog-color-surface-container: #eeeeee;
  --blog-color-surface-container-high: #e8e8e8;
  --blog-color-surface-container-highest: #e2e2e2;
  --blog-color-outline: #777777;
  --blog-color-outline-variant: #c6c6c6;
  --blog-color-on-surface-variant: #474747;
}
[data-theme="dark"][data-monet="mint--monochrome"] {
  --blog-color-primary: #ffffff;
  --blog-color-on-primary: #1b1b1b;
  --blog-color-primary-container: #d4d4d4;
  --blog-color-on-primary-container: #000000;
  --blog-color-secondary: #c6c6c6;
  --blog-color-on-secondary: #1b1b1b;
  --blog-color-secondary-container: #474747;
  --blog-color-on-secondary-container: #e2e2e2;
  --blog-color-tertiary: #e2e2e2;
  --blog-color-on-tertiary: #1b1b1b;
  --blog-color-tertiary-container: #919191;
  --blog-color-on-tertiary-container: #000000;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #131313;
  --blog-color-on-background: #e2e2e2;
  --blog-color-surface: #131313;
  --blog-color-on-surface: #e2e2e2;
  --blog-color-surface-dim: #131313;
  --blog-color-surface-bright: #393939;
  --blog-color-surface-container-lowest: #0e0e0e;
  --blog-color-surface-container-low: #1b1b1b;
  --blog-color-surface-container: #1f1f1f;
  --blog-color-surface-container-high: #2a2a2a;
  --blog-color-surface-container-highest: #353535;
  --blog-color-outline: #919191;
  --blog-color-outline-variant: #474747;
  --blog-color-on-surface-variant: #c6c6c6;
}

