/* Monet: rose */

[data-monet="rose--tonalSpot"] {
  --blog-color-primary: #8d4a5c;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #ffd9e0;
  --blog-color-on-primary-container: #713345;
  --blog-color-secondary: #75565d;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #ffd9e0;
  --blog-color-on-secondary-container: #5b3f46;
  --blog-color-tertiary: #7b5733;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #ffdcbe;
  --blog-color-on-tertiary-container: #60401e;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #fff8f7;
  --blog-color-on-background: #22191b;
  --blog-color-surface: #fff8f7;
  --blog-color-on-surface: #22191b;
  --blog-color-surface-dim: #e6d6d8;
  --blog-color-surface-bright: #fff8f7;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #fff0f2;
  --blog-color-surface-container: #fbeaec;
  --blog-color-surface-container-high: #f5e4e6;
  --blog-color-surface-container-highest: #efdee1;
  --blog-color-outline: #847376;
  --blog-color-outline-variant: #d6c2c5;
  --blog-color-on-surface-variant: #514346;
}
[data-theme="dark"][data-monet="rose--tonalSpot"] {
  --blog-color-primary: #ffb1c3;
  --blog-color-on-primary: #551d2e;
  --blog-color-primary-container: #713345;
  --blog-color-on-primary-container: #ffd9e0;
  --blog-color-secondary: #e3bdc4;
  --blog-color-on-secondary: #43292f;
  --blog-color-secondary-container: #5b3f46;
  --blog-color-on-secondary-container: #ffd9e0;
  --blog-color-tertiary: #edbd92;
  --blog-color-on-tertiary: #472a0a;
  --blog-color-tertiary-container: #60401e;
  --blog-color-on-tertiary-container: #ffdcbe;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #191113;
  --blog-color-on-background: #efdee1;
  --blog-color-surface: #191113;
  --blog-color-on-surface: #efdee1;
  --blog-color-surface-dim: #191113;
  --blog-color-surface-bright: #413738;
  --blog-color-surface-container-lowest: #140c0e;
  --blog-color-surface-container-low: #22191b;
  --blog-color-surface-container: #261d1f;
  --blog-color-surface-container-high: #312829;
  --blog-color-surface-container-highest: #3c3234;
  --blog-color-outline: #9e8c8f;
  --blog-color-outline-variant: #514346;
  --blog-color-on-surface-variant: #d6c2c5;
}

[data-monet="rose--expressive"] {
  --blog-color-primary: #176490;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #cbe6ff;
  --blog-color-on-primary-container: #004b71;
  --blog-color-secondary: #7f543b;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #ffdbc9;
  --blog-color-on-secondary-container: #643d26;
  --blog-color-tertiary: #56642b;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #d9eaa3;
  --blog-color-on-tertiary-container: #3f4c16;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #fff8f7;
  --blog-color-on-background: #251918;
  --blog-color-surface: #fff8f7;
  --blog-color-on-surface: #251918;
  --blog-color-surface-dim: #ecd5d4;
  --blog-color-surface-bright: #fff8f7;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #fff0ef;
  --blog-color-surface-container: #ffe9e8;
  --blog-color-surface-container-high: #fae3e2;
  --blog-color-surface-container-highest: #f4dddc;
  --blog-color-outline: #8b7170;
  --blog-color-outline-variant: #dfbfbe;
  --blog-color-on-surface-variant: #584141;
}
[data-theme="dark"][data-monet="rose--expressive"] {
  --blog-color-primary: #8fcdff;
  --blog-color-on-primary: #00344f;
  --blog-color-primary-container: #004b71;
  --blog-color-on-primary-container: #cbe6ff;
  --blog-color-secondary: #f3ba9b;
  --blog-color-on-secondary: #4a2812;
  --blog-color-secondary-container: #643d26;
  --blog-color-on-secondary-container: #ffdbc9;
  --blog-color-tertiary: #bdce89;
  --blog-color-on-tertiary: #293501;
  --blog-color-tertiary-container: #3f4c16;
  --blog-color-on-tertiary-container: #d9eaa3;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #1c1010;
  --blog-color-on-background: #f4dddc;
  --blog-color-surface: #1c1010;
  --blog-color-on-surface: #f4dddc;
  --blog-color-surface-dim: #1c1010;
  --blog-color-surface-bright: #443635;
  --blog-color-surface-container-lowest: #160b0b;
  --blog-color-surface-container-low: #251918;
  --blog-color-surface-container: #291c1c;
  --blog-color-surface-container-high: #342726;
  --blog-color-surface-container-highest: #3f3131;
  --blog-color-outline: #a68a89;
  --blog-color-outline-variant: #584141;
  --blog-color-on-surface-variant: #dfbfbe;
}

[data-monet="rose--vibrant"] {
  --blog-color-primary: #bb0059;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #ffd9e0;
  --blog-color-on-primary-container: #8f0042;
  --blog-color-secondary: #82524f;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #ffdad7;
  --blog-color-on-secondary-container: #663b38;
  --blog-color-tertiary: #8a4f38;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #ffdbcf;
  --blog-color-on-tertiary-container: #6e3823;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #fff8f7;
  --blog-color-on-background: #26181b;
  --blog-color-surface: #fff8f7;
  --blog-color-on-surface: #26181b;
  --blog-color-surface-dim: #eed4d8;
  --blog-color-surface-bright: #fff8f7;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #fff0f2;
  --blog-color-surface-container: #ffe8ec;
  --blog-color-surface-container-high: #fce2e6;
  --blog-color-surface-container-highest: #f6dce0;
  --blog-color-outline: #897176;
  --blog-color-outline-variant: #ddbfc4;
  --blog-color-on-surface-variant: #564146;
}
[data-theme="dark"][data-monet="rose--vibrant"] {
  --blog-color-primary: #ffb1c3;
  --blog-color-on-primary: #66002d;
  --blog-color-primary-container: #8f0042;
  --blog-color-on-primary-container: #ffd9e0;
  --blog-color-secondary: #f5b7b3;
  --blog-color-on-secondary: #4c2523;
  --blog-color-secondary-container: #663b38;
  --blog-color-on-secondary-container: #ffdad7;
  --blog-color-tertiary: #ffb59a;
  --blog-color-on-tertiary: #52220f;
  --blog-color-tertiary-container: #6e3823;
  --blog-color-on-tertiary-container: #ffdbcf;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #1d1013;
  --blog-color-on-background: #f6dce0;
  --blog-color-surface: #1d1013;
  --blog-color-on-surface: #f6dce0;
  --blog-color-surface-dim: #1d1013;
  --blog-color-surface-bright: #453538;
  --blog-color-surface-container-lowest: #170b0e;
  --blog-color-surface-container-low: #26181b;
  --blog-color-surface-container: #2a1c1f;
  --blog-color-surface-container-high: #352629;
  --blog-color-surface-container-highest: #413034;
  --blog-color-outline: #a48a8f;
  --blog-color-outline-variant: #564146;
  --blog-color-on-surface-variant: #ddbfc4;
}

[data-monet="rose--content"] {
  --blog-color-primary: #760035;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #a0004b;
  --blog-color-on-primary-container: #ffabbf;
  --blog-color-secondary: #96435b;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #fb95b0;
  --blog-color-on-secondary-container: #772a43;
  --blog-color-tertiary: #6c1c00;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #942a00;
  --blog-color-on-tertiary-container: #ffaf96;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #fff8f7;
  --blog-color-on-background: #25181b;
  --blog-color-surface: #fff8f7;
  --blog-color-on-surface: #25181b;
  --blog-color-surface-dim: #edd4d8;
  --blog-color-surface-bright: #fff8f7;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #fff0f2;
  --blog-color-surface-container: #ffe8ec;
  --blog-color-surface-container-high: #fbe2e6;
  --blog-color-surface-container-highest: #f6dce0;
  --blog-color-outline: #8c7076;
  --blog-color-outline-variant: #dfbec4;
  --blog-color-on-surface-variant: #584046;
}
[data-theme="dark"][data-monet="rose--content"] {
  --blog-color-primary: #ffb1c3;
  --blog-color-on-primary: #66002d;
  --blog-color-primary-container: #a0004b;
  --blog-color-on-primary-container: #ffabbf;
  --blog-color-secondary: #ffb1c3;
  --blog-color-on-secondary: #5c142e;
  --blog-color-secondary-container: #792b44;
  --blog-color-on-secondary-container: #fd97b1;
  --blog-color-tertiary: #ffb59e;
  --blog-color-on-tertiary: #5e1700;
  --blog-color-tertiary-container: #942a00;
  --blog-color-on-tertiary-container: #ffaf96;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #1c1013;
  --blog-color-on-background: #f6dce0;
  --blog-color-surface: #1c1013;
  --blog-color-on-surface: #f6dce0;
  --blog-color-surface-dim: #1c1013;
  --blog-color-surface-bright: #453538;
  --blog-color-surface-container-lowest: #170b0e;
  --blog-color-surface-container-low: #25181b;
  --blog-color-surface-container: #2a1c1f;
  --blog-color-surface-container-high: #352629;
  --blog-color-surface-container-highest: #403134;
  --blog-color-outline: #a7898f;
  --blog-color-outline-variant: #584046;
  --blog-color-on-surface-variant: #dfbec4;
}

[data-monet="rose--monochrome"] {
  --blog-color-primary: #000000;
  --blog-color-on-primary: #e2e2e2;
  --blog-color-primary-container: #3b3b3b;
  --blog-color-on-primary-container: #ffffff;
  --blog-color-secondary: #5e5e5e;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #d4d4d4;
  --blog-color-on-secondary-container: #1b1b1b;
  --blog-color-tertiary: #3b3b3b;
  --blog-color-on-tertiary: #e2e2e2;
  --blog-color-tertiary-container: #747474;
  --blog-color-on-tertiary-container: #ffffff;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #410002;
  --blog-color-background: #f9f9f9;
  --blog-color-on-background: #1b1b1b;
  --blog-color-surface: #f9f9f9;
  --blog-color-on-surface: #1b1b1b;
  --blog-color-surface-dim: #dadada;
  --blog-color-surface-bright: #f9f9f9;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #f3f3f3;
  --blog-color-surface-container: #eeeeee;
  --blog-color-surface-container-high: #e8e8e8;
  --blog-color-surface-container-highest: #e2e2e2;
  --blog-color-outline: #777777;
  --blog-color-outline-variant: #c6c6c6;
  --blog-color-on-surface-variant: #474747;
}
[data-theme="dark"][data-monet="rose--monochrome"] {
  --blog-color-primary: #ffffff;
  --blog-color-on-primary: #1b1b1b;
  --blog-color-primary-container: #d4d4d4;
  --blog-color-on-primary-container: #000000;
  --blog-color-secondary: #c6c6c6;
  --blog-color-on-secondary: #1b1b1b;
  --blog-color-secondary-container: #474747;
  --blog-color-on-secondary-container: #e2e2e2;
  --blog-color-tertiary: #e2e2e2;
  --blog-color-on-tertiary: #1b1b1b;
  --blog-color-tertiary-container: #919191;
  --blog-color-on-tertiary-container: #000000;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #131313;
  --blog-color-on-background: #e2e2e2;
  --blog-color-surface: #131313;
  --blog-color-on-surface: #e2e2e2;
  --blog-color-surface-dim: #131313;
  --blog-color-surface-bright: #393939;
  --blog-color-surface-container-lowest: #0e0e0e;
  --blog-color-surface-container-low: #1b1b1b;
  --blog-color-surface-container: #1f1f1f;
  --blog-color-surface-container-high: #2a2a2a;
  --blog-color-surface-container-highest: #353535;
  --blog-color-outline: #919191;
  --blog-color-outline-variant: #474747;
  --blog-color-on-surface-variant: #c6c6c6;
}

