/* Monet: ocean */

[data-monet="ocean--tonalSpot"] {
  --blog-color-primary: #186b53;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #a5f2d3;
  --blog-color-on-primary-container: #00513d;
  --blog-color-secondary: #4c6359;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #cee9db;
  --blog-color-on-secondary-container: #344c42;
  --blog-color-tertiary: #3f6375;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #c3e8fd;
  --blog-color-on-tertiary-container: #264b5c;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #f5fbf6;
  --blog-color-on-background: #171d1a;
  --blog-color-surface: #f5fbf6;
  --blog-color-on-surface: #171d1a;
  --blog-color-surface-dim: #d5dbd7;
  --blog-color-surface-bright: #f5fbf6;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #eff5f0;
  --blog-color-surface-container: #e9efea;
  --blog-color-surface-container-high: #e4eae5;
  --blog-color-surface-container-highest: #dee4df;
  --blog-color-outline: #707974;
  --blog-color-outline-variant: #bfc9c3;
  --blog-color-on-surface-variant: #404944;
}
[data-theme="dark"][data-monet="ocean--tonalSpot"] {
  --blog-color-primary: #89d6b8;
  --blog-color-on-primary: #003829;
  --blog-color-primary-container: #00513d;
  --blog-color-on-primary-container: #a5f2d3;
  --blog-color-secondary: #b2ccc0;
  --blog-color-on-secondary: #1e352c;
  --blog-color-secondary-container: #344c42;
  --blog-color-on-secondary-container: #cee9db;
  --blog-color-tertiary: #a7cce1;
  --blog-color-on-tertiary: #0b3445;
  --blog-color-tertiary-container: #264b5c;
  --blog-color-on-tertiary-container: #c3e8fd;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #0f1512;
  --blog-color-on-background: #dee4df;
  --blog-color-surface: #0f1512;
  --blog-color-on-surface: #dee4df;
  --blog-color-surface-dim: #0f1512;
  --blog-color-surface-bright: #343b37;
  --blog-color-surface-container-lowest: #0a0f0d;
  --blog-color-surface-container-low: #171d1a;
  --blog-color-surface-container: #1b211e;
  --blog-color-surface-container-high: #252b28;
  --blog-color-surface-container-highest: #303633;
  --blog-color-outline: #89938d;
  --blog-color-outline-variant: #404944;
  --blog-color-on-surface-variant: #bfc9c3;
}

[data-monet="ocean--expressive"] {
  --blog-color-primary: #8f4d1d;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #ffdbc8;
  --blog-color-on-primary-container: #723606;
  --blog-color-secondary: #3a646f;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #beeaf6;
  --blog-color-on-secondary-container: #214c57;
  --blog-color-tertiary: #1b6964;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #a8f0e9;
  --blog-color-on-tertiary-container: #00504c;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #f1fcf8;
  --blog-color-on-background: #141d1c;
  --blog-color-surface: #f1fcf8;
  --blog-color-on-surface: #141d1c;
  --blog-color-surface-dim: #d2dcd9;
  --blog-color-surface-bright: #f1fcf8;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #ebf6f3;
  --blog-color-surface-container: #e6f0ed;
  --blog-color-surface-container-high: #e0eae7;
  --blog-color-surface-container-highest: #dae5e2;
  --blog-color-outline: #697b77;
  --blog-color-outline-variant: #b8cac6;
  --blog-color-on-surface-variant: #394a47;
}
[data-theme="dark"][data-monet="ocean--expressive"] {
  --blog-color-primary: #ffb689;
  --blog-color-on-primary: #512300;
  --blog-color-primary-container: #723606;
  --blog-color-on-primary-container: #ffdbc8;
  --blog-color-secondary: #a2ceda;
  --blog-color-on-secondary: #023640;
  --blog-color-secondary-container: #214c57;
  --blog-color-on-secondary-container: #beeaf6;
  --blog-color-tertiary: #8cd3cd;
  --blog-color-on-tertiary: #003734;
  --blog-color-tertiary-container: #00504c;
  --blog-color-on-tertiary-container: #a8f0e9;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #0c1514;
  --blog-color-on-background: #dae5e2;
  --blog-color-surface: #0c1514;
  --blog-color-on-surface: #dae5e2;
  --blog-color-surface-dim: #0c1514;
  --blog-color-surface-bright: #313b39;
  --blog-color-surface-container-lowest: #07100e;
  --blog-color-surface-container-low: #141d1c;
  --blog-color-surface-container: #182120;
  --blog-color-surface-container-high: #222c2a;
  --blog-color-surface-container-highest: #2d3735;
  --blog-color-outline: #829491;
  --blog-color-outline-variant: #394a47;
  --blog-color-on-surface-variant: #b8cac6;
}

[data-monet="ocean--vibrant"] {
  --blog-color-primary: #006c52;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #30ffc8;
  --blog-color-on-primary-container: #00513d;
  --blog-color-secondary: #396660;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #bcece4;
  --blog-color-on-secondary-container: #204e48;
  --blog-color-tertiary: #19686c;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #a8eff2;
  --blog-color-on-tertiary-container: #004f52;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #effdf4;
  --blog-color-on-background: #121e19;
  --blog-color-surface: #effdf4;
  --blog-color-on-surface: #121e19;
  --blog-color-surface-dim: #d0ddd5;
  --blog-color-surface-bright: #effdf4;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #e9f7ef;
  --blog-color-surface-container: #e3f1e9;
  --blog-color-surface-container-high: #deebe3;
  --blog-color-surface-container-highest: #d8e6de;
  --blog-color-outline: #6a7b73;
  --blog-color-outline-variant: #b9cbc1;
  --blog-color-on-surface-variant: #3a4a43;
}
[data-theme="dark"][data-monet="ocean--vibrant"] {
  --blog-color-primary: #00e1ae;
  --blog-color-on-primary: #003829;
  --blog-color-primary-container: #00513d;
  --blog-color-on-primary-container: #30ffc8;
  --blog-color-secondary: #a1d0c8;
  --blog-color-on-secondary: #023732;
  --blog-color-secondary-container: #204e48;
  --blog-color-on-secondary-container: #bcece4;
  --blog-color-tertiary: #8cd2d6;
  --blog-color-on-tertiary: #003739;
  --blog-color-tertiary-container: #004f52;
  --blog-color-on-tertiary-container: #a8eff2;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #0a1611;
  --blog-color-on-background: #d8e6de;
  --blog-color-surface: #0a1611;
  --blog-color-on-surface: #d8e6de;
  --blog-color-surface-dim: #0a1611;
  --blog-color-surface-bright: #303c36;
  --blog-color-surface-container-lowest: #05100c;
  --blog-color-surface-container-low: #121e19;
  --blog-color-surface-container: #16221d;
  --blog-color-surface-container-high: #212c27;
  --blog-color-surface-container-highest: #2b3732;
  --blog-color-outline: #84958c;
  --blog-color-outline-variant: #3a4a43;
  --blog-color-on-surface-variant: #b9cbc1;
}

[data-monet="ocean--content"] {
  --blog-color-primary: #00513d;
  --blog-color-on-primary: #ffffff;
  --blog-color-primary-container: #006c52;
  --blog-color-on-primary-container: #94eac9;
  --blog-color-secondary: #466558;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #c5e7d7;
  --blog-color-on-secondary-container: #4a695c;
  --blog-color-tertiary: #463f7c;
  --blog-color-on-tertiary: #ffffff;
  --blog-color-tertiary-container: #5e5796;
  --blog-color-on-tertiary-container: #dbd4ff;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #93000a;
  --blog-color-background: #f7faf6;
  --blog-color-on-background: #181d1a;
  --blog-color-surface: #f7faf6;
  --blog-color-on-surface: #181d1a;
  --blog-color-surface-dim: #d7dbd7;
  --blog-color-surface-bright: #f7faf6;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #f1f5f0;
  --blog-color-surface-container: #ebefeb;
  --blog-color-surface-container-high: #e5e9e5;
  --blog-color-surface-container-highest: #e0e3df;
  --blog-color-outline: #6f7a74;
  --blog-color-outline-variant: #bec9c2;
  --blog-color-on-surface-variant: #3f4944;
}
[data-theme="dark"][data-monet="ocean--content"] {
  --blog-color-primary: #82d7b7;
  --blog-color-on-primary: #003829;
  --blog-color-primary-container: #006c52;
  --blog-color-on-primary-container: #94eac9;
  --blog-color-secondary: #accebf;
  --blog-color-on-secondary: #18362b;
  --blog-color-secondary-container: #2f4d41;
  --blog-color-on-secondary-container: #9bbcad;
  --blog-color-tertiary: #c7bfff;
  --blog-color-on-tertiary: #2f2764;
  --blog-color-tertiary-container: #5e5796;
  --blog-color-on-tertiary-container: #dbd4ff;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #101412;
  --blog-color-on-background: #e0e3df;
  --blog-color-surface: #101412;
  --blog-color-on-surface: #e0e3df;
  --blog-color-surface-dim: #101412;
  --blog-color-surface-bright: #363a38;
  --blog-color-surface-container-lowest: #0b0f0d;
  --blog-color-surface-container-low: #181d1a;
  --blog-color-surface-container: #1c211e;
  --blog-color-surface-container-high: #262b29;
  --blog-color-surface-container-highest: #313633;
  --blog-color-outline: #88938d;
  --blog-color-outline-variant: #3f4944;
  --blog-color-on-surface-variant: #bec9c2;
}

[data-monet="ocean--monochrome"] {
  --blog-color-primary: #000000;
  --blog-color-on-primary: #e2e2e2;
  --blog-color-primary-container: #3b3b3b;
  --blog-color-on-primary-container: #ffffff;
  --blog-color-secondary: #5e5e5e;
  --blog-color-on-secondary: #ffffff;
  --blog-color-secondary-container: #d4d4d4;
  --blog-color-on-secondary-container: #1b1b1b;
  --blog-color-tertiary: #3b3b3b;
  --blog-color-on-tertiary: #e2e2e2;
  --blog-color-tertiary-container: #747474;
  --blog-color-on-tertiary-container: #ffffff;
  --blog-color-error: #ba1a1a;
  --blog-color-on-error: #ffffff;
  --blog-color-error-container: #ffdad6;
  --blog-color-on-error-container: #410002;
  --blog-color-background: #f9f9f9;
  --blog-color-on-background: #1b1b1b;
  --blog-color-surface: #f9f9f9;
  --blog-color-on-surface: #1b1b1b;
  --blog-color-surface-dim: #dadada;
  --blog-color-surface-bright: #f9f9f9;
  --blog-color-surface-container-lowest: #ffffff;
  --blog-color-surface-container-low: #f3f3f3;
  --blog-color-surface-container: #eeeeee;
  --blog-color-surface-container-high: #e8e8e8;
  --blog-color-surface-container-highest: #e2e2e2;
  --blog-color-outline: #777777;
  --blog-color-outline-variant: #c6c6c6;
  --blog-color-on-surface-variant: #474747;
}
[data-theme="dark"][data-monet="ocean--monochrome"] {
  --blog-color-primary: #ffffff;
  --blog-color-on-primary: #1b1b1b;
  --blog-color-primary-container: #d4d4d4;
  --blog-color-on-primary-container: #000000;
  --blog-color-secondary: #c6c6c6;
  --blog-color-on-secondary: #1b1b1b;
  --blog-color-secondary-container: #474747;
  --blog-color-on-secondary-container: #e2e2e2;
  --blog-color-tertiary: #e2e2e2;
  --blog-color-on-tertiary: #1b1b1b;
  --blog-color-tertiary-container: #919191;
  --blog-color-on-tertiary-container: #000000;
  --blog-color-error: #ffb4ab;
  --blog-color-on-error: #690005;
  --blog-color-error-container: #93000a;
  --blog-color-on-error-container: #ffdad6;
  --blog-color-background: #131313;
  --blog-color-on-background: #e2e2e2;
  --blog-color-surface: #131313;
  --blog-color-on-surface: #e2e2e2;
  --blog-color-surface-dim: #131313;
  --blog-color-surface-bright: #393939;
  --blog-color-surface-container-lowest: #0e0e0e;
  --blog-color-surface-container-low: #1b1b1b;
  --blog-color-surface-container: #1f1f1f;
  --blog-color-surface-container-high: #2a2a2a;
  --blog-color-surface-container-highest: #353535;
  --blog-color-outline: #919191;
  --blog-color-outline-variant: #474747;
  --blog-color-on-surface-variant: #c6c6c6;
}

