# Site URL for production build/RSS feeds
PUBLIC_SITE_URL=https://m3e.blog

# Music Player Settings (Cloudflare Env config)
PUBLIC_MUSIC_MODE=api
PUBLIC_MUSIC_METING_API=https://api.i-meto.com/meting/api
PUBLIC_MUSIC_TYPE=album
PUBLIC_MUSIC_ID=398973
PUBLIC_MUSIC_SERVER=netease